<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="tetris">
        Tetris
      </a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="nine-stars">
        9 Start
      </a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="cardmatching">
        Cardmatching
      </a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="color-lines">
        Color Lines
      </a>
    </div>
  </div>
</nav>
