<div class="row">
  <div class="col col-md-8 col-sm-12">
    <div class="jumbotron">
      <p class="lead">
        <a href="http://deskach.github.io/tetris/" class="btn btn-primary">
          Tetris
        </a>
      </p>
      <p class="lead">
        A classic tetris implemented as a client-side application. Rules are simple -
        create a whole row of bricks to make it disappear. Use keyboard to play on a
        desktop PC. If you are using a mobile device - a set of additional buttons will
        appear.
      </p>
      <hr class="my-4">
      <p>
        The game is based on backbone.js
      </p>
    </div>
  </div>
  <div class="col col-md-4 col-sm-12">
    <img src="/assets/img/tetris.png" class="img-thumbnail"/>
  </div>
</div>
