<div class="row">
  <div class="col col-lg-8 col-md-12">
    <div class="jumbotron">
      <p class="lead">
        <a href="http://deskach.github.io/cardmatching/" class="btn btn-primary">
          Cardmatching
        </a>
      </p>
      <p class="lead">
        A game where you have to find pairs of matching cards on the screen. These pairs
        could be as simple as same image displayed on both cards or an association such as
        an image and a letter like apple and 'A'. To win the game you need to find all
        pairs. You can configure the game to play in a night mode which makes it
        interesting for parents not only their kids.
      </p>
      <hr class="my-4">
      <p>
        This is an Angular-2 app.
      </p>
    </div>
  </div>
  <div class="col col-lg-4 col-md-12">
    <img src="/assets/img/cardmatching.png" class="img-thumbnail"/>
  </div>
</div>

