<div class="row">
  <div class="col-md-8 col-sm-12">
    <div class="jumbotron">
      <p class="lead">
        <a href="http://deskach.github.io/nine_stars/" class="btn btn-primary">
          9 Stars
        </a>
      </p>
      <p class="lead">
        The game is aimed to help kids learn math. The rules are as following: A random
        number of stars (from 1 to 9) appears on the screen. One needs to pick up numbers
        by clicking their pictures. The picked up numbers should sum up to match the
        number of stars. Each number can be used only once. To win the game all numbers
        should be used. If it is not possible to create a sum to match the stars one can
        hit the redraw button, which will regenerate the stars. The redraw button can be
        used 5 times.
      </p>
      <hr class="my-4">
      <p>
        I borrowed this game from a pluralsight course about React.js.
      </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <img src="/assets/img/stars.png" class="img-thumbnail"/>
  </div>
</div>
