<header class="container lead well">
    About the project
</header>
<div class="container">
    <div clalss="row">
        The site contains a few games which I created to play with front-end
        frameworks.
        All games support responsive design, this means that it should be
        possible to play them
        on any device type.<br/><br/>

        Here You will also find a bit of poetry from my wife Daryna.
        Hopefully you will enjoy it :-)
    </div>
    <div class="pull-right" clalss="row">
        Cheers, Dzianis.
    </div>
    <div clalss="row">
        <div class="col-sm-7">
        <h3>Я вяжу ему жизнь</h3>
        Много лет я вяжу ему жизнь из пушистых мохеровых ниток...<br/>
        Я вяжу ему жизнь, не солгав ни единой петли...<br/>
        Я вяжу ему жизнь, где узором по полю молитвы<br/>
        Пожелания счастья в лучах настоящей любви...<br/>
        Я вяжу ему жизнь из веселой меланжевой пряжи<br/>
        Я ввяжу в его жизнь: ясный день, и закат и зарю...<br/>
        Где я нитки беру? Он о том никогда не узнает...<br/>
        Чтоб связать ему жизнь - я тайком распускаю свою..."<br/>
        </div>
        <div class="col-sm-5">
            <img src="media/teagardens.jpg" class="img-thumbnail img-poetry"/>
        </div>
    </div>
    <div clalss="row">
        <div class="col-sm-7">
        <h3>О Толе</h3>
        В морозный мартовский денек<br/>
        Родился мой родной ребёнок<br/>
        В нём растворилась я,как тень<br/>
        Сопишь,так нежно мой котёнок<br/>
        Шли дни и ночи,подрастал<br/>
        И радовал своей улыбкой<br/>
        Вдруг говорить ты перестал<br/>
        Играть,"ошибка за ошибкой"???<br/>
        Что происходит,мой сынок???<br/>
        Не понимаю,я в раздумьях<br/>
        Идём к врачам мы на порог<br/>
        Ты усидеть не мог на стульях<br/>
        И вот диагноз АУТИЗМ<br/>
        Я плачу,не могу поверить<br/>
        В душе я прячу эгоизм,<br/>
        Идём к психологам проверить.<br/>
        И снова все твердят одно<br/>
        Как жить???За что???Толюша мой.<br/>
        Нам нужно справиться с тобой<br/>
        Ты сильный ,мальчик дорогой.<br/>
        Тебе 5 лет,ты взрослый парень<br/>
        Пошёл бы в школу в сентябре<br/>
        Но нет.Сидишь ты словно камень<br/>
        Эмоций нет в твоём лице.<br/>
        Ты верь,всё будет превосходно<br/>
        Ты рядом с мамой и отцом<br/>
        Ну значит Богу так угодно<br/>
        И вырастешь ты молодцом.<br/>
        Тебя вовек мы не оставим<br/>
        Ты станешь умным и великим.<br/>
        Свою любовь мы предоставим<br/>
        Не будешь больше таким "диким".<br/>
        Ведь материнская любовь<br/>
        Всегда творила чудеса.<br/>
        С тобой у нас родная кровь,<br/>
        Меня услышат небеса!!!!<br/>
        Толюшка,зайка,медвежонок<br/>
        Я отмолю тебя,ты верь!!!<br/>
        В один прекрасный день,спросонок<br/>
        Ты скажешь:"Мама,я здоров теперь!!!<br/>
        </div>
        <div class="col-sm-5">
            <img src="media/Marusia.jpg"
                 class="img-thumbnail img-poetry" />
        </div>
    </div>
    <div clalss="row">
        <div class="col-sm-7">
            <h3>Научи меня жить</h3>
            Научи меня жить, по дыханью, по нотам,<br/>
            без суждений и боли, падений и взлетов.<br/>
            И в густой суете прошепчи мое имя,<br/>
            чтоб на сердце усталом расплавился иней...<br/>
            Научи меня жить, губ касаясь губами,<br/>
            чтобы стало прочней все, что есть между нами.<br/>
            Разжигая огонь, не бояться пожара —<br/>
            мы с тобою вдвоем, мы с тобою недаром...<br/>
            Научи меня жить, я тебе доверяю<br/>
            это сердце, а в нем — чем дышу, чем страдаю.<br/>
            Позови меня вдаль, где никто не услышит,<br/>
            там, где ветер седой вдохновением дышит...<br/>
            Научи меня жить, научи, ты же можешь,<br/>
            и я стану другим, сбросив старые кожи.<br/>
            Разобьются века о тяжелые своды,<br/>
            но мы будем вдвоем оживать год за годом...<br/>
            Научи меня жить, обними еще крепче —<br/>
            и забудется все, и дышать станет легче...<br/>
            Я не знаю, что там, за завесою буден,<br/>
            но я буду любить...<br/>
            как бы путь ни был труден...<br/>
        </div>
        <div class="col-sm-5">
            <img src="media/IMG_20141227_193206.jpg"
                 class="img-thumbnail img-poetry" />
        </div>
    </div>
    <br/>
</div>
<footer></footer>
