<header class="container lead well">
    <a href="http://deskach.github.io/cardmatching/" class="btn btn-primary">Play</a>
</header>
<section class="container">
    <img src="media/cardmatching.png" class="img-thumbnail pull-right" style="width:300px; margin-left: 1em;"/>
    <section>
        A game where you have to find pairs of matching cards on the screen. These pairs could be as simple as
        same image displayed on both cards or an association such as an image and a letter like apple and 'A'.
        To win the game you need to find all pairs.

        You can configure the game to play in a night mode which makes it interesting for parents
        not only their kids.
    </section>
    <section>
        This is an Angular-2 app.
    </section>
</section>
<footer></footer>
