<header class="container lead well">
    <a href="http://deskach.github.io/match5/" class="btn btn-primary">Play</a>
</header>
<section class="container">
    <img src="media/match5.jpg" class="img-thumbnail pull-right"
         style="width:300px; margin-left: 1em;"/>
    <section>
        Balls of different colors will appear on a board. If you put 5+ balls
        of same color in a row all of them will disappear and your score will
        increase. You lose when there are no more free spots on the board to
        put balls to.
    </section>
    <section>
        This is a react/redux app.
    </section>
</section>
<footer></footer>
