<header class="container lead well">
    <a href="http://deskach.github.io/tetris/" class="btn btn-primary">Play Tetris</a>
</header>
<section class="container">
    <img src="media/tetris.png" class="img-thumbnail pull-right" style="width:300px; margin-left: 1em;" />
    <section>
        A classic tetris implemented as a client-side application.
        Rules are simple - create a whole row of bricks to make it disappear.
        Use keyboard to play on a desktop PC. If you are using a mobile device - a set of additional
        buttons will appear.
    </section>
    <section>
        The game is based on backbone.js
    </section>
</section>
<footer></footer>
