/* You can add global styles to this file, and also import other style files */

.navbar-brand, .nav-link {
  cursor: pointer;
}

.img-thumbnail {
  width: 100%;
}

.row {
  margin-top: 1rem;
}

.row a {
  text-decoration: underline;
}

img.work-img {
  max-width: 100px;
  margin-right: 1rem;
}
