/* You can add global styles to this file, and also import other style files */

.navbar-brand, .nav-link {
  cursor: pointer;
}

.img-thumbnail {
  width: 100%;
}

.row {
  margin-top: 1rem;
}

.row a {
  text-decoration: underline;
}

ul.contact-list li img {
  max-width: 2rem;
  margin-right: 1rem;
}

img.work-img {
  max-width: 100px;
}

div.progress {
  min-height: 1.5rem;
}

div.progress div.progress-bar {
  min-width: 2rem;
  height: 100%;
}

div.progress div.progress-bar-10 {
  width: 10%;
}

div.progress div.progress-bar-20 {
  width: 20%;
}

div.progress div.progress-bar-30 {
  width: 30%;
}

div.progress div.progress-bar-40 {
  width: 40%;
}

div.progress div.progress-bar-50 {
  width: 50%;
}

div.progress div.progress-bar-60 {
  width: 60%;
}

div.progress div.progress-bar-70 {
  width: 70%;
}

div.progress div.progress-bar-80 {
  width: 80%;
}

div.progress div.progress-bar-90 {
  width: 90%;
}

div.progress div.progress-bar-100 {
  width: 100%;
}
